@import "./fonts.css";
@import "./typography.css";
@import "./backgrounds.css";
@import "./animations.css";

html,
body {
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

* {
  outline: none !important;
}

input {
  caret-color: theme('colors.gray');
}

#app {
  @apply dark:text-primary-bright;
}

#storybook-app {
  @apply dark:text-primary-bright;
}

a {
  @apply cursor-pointer;
}

/* Hide number input spin/arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

*::-webkit-scrollbar {
  @apply bg-primary-bright dark:bg-white1-dark;
}
*::-webkit-scrollbar-thumb {
  @apply bg-primary-bright dark:bg-white4-dark;
}
