h1,
h2 {
  @apply font-body;
  font-weight: 700;
}
h1 {
  @apply text-4xl 2xl:text-5xl;
}
h2 {
  @apply text-3xl;
}

h3,
h4,
h5,
h6 {
  @apply font-body;
}
h3 {
  @apply text-2xl tracking-tight;
  font-weight: 700;
}
h4 {
  @apply text-xl tracking-tight;
  font-weight: 700;
}
h5 {
  @apply text-lg;
  font-weight: 700;
}
h6 {
  font-weight: 700;
}

.eth-address {
  font-variant-ligatures: no-contextual;
}

/* Using font-variation-settings instead of font-weight for the Inter variable font */

th,
.font-light,
.font-medium,
.font-bold {
  font-weight: unset;
}

th {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

.font-numeric {
  font-feature-settings: 'tnum';
  letter-spacing: -0.5px;
}

.text-gradient {
  @apply bg-blue-500;
  background-image: linear-gradient(45deg, theme('colors.blue.500'), theme('colors.pink.500'));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.link {
  @apply text-primary dark:text-gray-dark transition-all underline;
}

.link-black {
  @apply text-gray dark:text-gray-dark;
}
